@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */
header {
    background: #ffb400;
}

/* Body */
body {
    font-family: Domine, sans-serif;
    background-color: #FFF9E9;
    font-weight: 400;
}

/* Logo */
#logo {
    font-family: Syncopate, sans-serif;
    font-weight: 700;
    color: #1b1b1b;
    line-height: 50px;
    float: left;
    font-size: 2.5rem;
}

/* Navigation List */
#nav-ls {
    font-size: 2.5rem;
    text-align: right;
}

#nav-ls>li {

    display: inline;
    list-style-type: none;
    margin-right: 40px;

}

#nav-ls a {
    text-decoration: none;
    color: inherit;
    line-height: 50px;

}

#nav-ls a:hover {
    border-bottom: 3px solid #1b1b1b;
}

.active {
    border-bottom: 3px solid #1b1b1b;
}

/* Instructions */
#instruction-page {
    
    height: 500px;
    margin: 20px auto;
    padding: 40px;
    font-size: 1.5rem;
    text-align: justify;
}

#instruction-page > h2 {
    text-align: center;
    font-size: 3.5rem;
    font-family: Permanent Marker, sans-serif;
}

/* Enter Quiz Button */

#enter-quiz {
    font-size: 2rem;
    background-color: #ffb400;
    border-style: solid;
    border-radius: 10px;
}


/* Footer */

#social-links {
    text-align: center;
    background: #ffb400;
    font-size: 3rem;
    
}

#social-links>li {
    display: inline;
    letter-spacing: 50px;

}

#social-links i {
    color: #1b1b1b;
}